.slider {
    width: 1280px;
    margin-top: 10px;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.slider_items {
    height: 500px;
    line-height: 500px;
    background-color: rgba(0, 0, 0, 0.1);
}

